i1 {
	position: absolute;
	left: 78.75%;
	right: 20.5%;
	top: 1.23%;
	bottom: 90.52%;
	color: #173F5F;
}

i2 {
	position: absolute;
	left: 82.48%;
	right: 16.43%;
	top: 1.23%;
	bottom: 91.46%;
	color: #173F5F;
}

i3 {
	position: absolute;
	left: 86.55%;
	right: 12.41%;
	top: 1.23%;
	bottom: 91.46%;
	color: #173F5F;
}

i4 {
	position: absolute;
	left: 90.58%;
	right: 8.23%;
	top: 1.23%;
	bottom: 91.79%;
	color: #173F5F;
}

i5 {
	position: absolute;
	left: 94.75%;
	right: 4.31%;
	top: 1.23%;
	bottom: 91.94%;
	color: #173F5F;
}

.bx:hover {
	color: #979797;
}

.line {
	position: absolute;
	width: 98.7%;
	height: 2px;
	top: 37px;

	background: #E0E0E0;
	transform: matrix(1, 0, 0, -1, 0, 0);
}

.profile-section {
	position: absolute;
	width: 100%;
	height: 243px;
	left: 0px;
	top: 56px;
}



.profile-photo {
	position: absolute;
	left: 35px;
	top: 3px;

	background: #C4C4C4;
	border-radius: 43px;
	width: 45px;
	height: 45px;
}

.search-bar {
	position: absolute;
	left: 100px;
	width: 330px;
	border: 3px solid #c4c4c4;
	color: #131313;
	padding: 7px;
	border-radius: 30px;
}

input {
	background: transparent;
	border: 0px;
	outline: 0px;
	width: 300px;
	font-size: 19.6px;
}

.fa-search {
	color: #000000;
	font-size: 20px;
}

.fa-search:hover {
	color: #c4c4c4;
}

.bxs-user-account {
	position: absolute;
	top: 10px;
	right: 450px;
	font: 1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: black;
}

.bx-cart {
	position: absolute;
	top: 10px;
	right: 300px;
	font: 1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: black;
}

.bx-heart {
	position: absolute;
	top: 10px;
	right: 100px;
	font: 1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: black;
}

.line2 {
	position: absolute;
	width: 98.7%;
	height: 2px;
	/*left: 50px;*/
	/*right: 50px;*/
	top: 122px;

	background: #E0E0E0;
	transform: matrix(1, 0, 0, -1, 0, 0);
}










































